// Hero H1 and P text styles
.hero__content {
	&-heading-primary {
		font-size: 4rem;
		font-weight: 800;
		text-transform: uppercase;
		letter-spacing: 3px;
		text-align: center;
		color: var(--white-color);
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

		@include respond(phone) {
			font-size: 2rem;
			letter-spacing: 1px;
		}
	}

	&-text-primary {
		color: var(--white-color);
		font-size: 1.5rem;
		font-weight: 700;
		text-align: center;
		width: 100%;
		line-height: 1.6;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

		@include respond(phone) {
			font-size: 1rem;
		}
	}
}

// Sections Padding
.section-padding {
	padding: 6rem 6rem;
	@include respond(tab-port) {
		padding: 4rem 0;
	}
}

// About-Main Heading Container--------------------
.main__heading-container {
	max-width: 120rem;
	width: 92%;
	margin: 0 auto;
}

// About-Main Heading Styles
.main__heading-h2 {
	margin-bottom: 8rem;
	@include respond(tab-port) {
		margin-bottom: 5rem;
	}

	&-title {
		text-align: center;
		display: block;
		font-size: 2.5rem;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: var(--brand-color);
		margin-bottom: 1.5rem;
		position: relative;

		@include respond(phone) {
			font-size: 1.75rem;
			word-break: break-word;
		}
	}

	&-text {
		text-align: left;
		display: block;
		color: var(--secondary-color);
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 1.6;
		max-width: 80rem;
		margin-bottom: 2rem;
	}
}

// About-Main Section Content Margin Bottom
.main__content {
	max-width: 120rem;
	width: 92%;
	margin: 0 auto;
	margin-bottom: 5rem;

	@include respond(tab-port) {
		margin-bottom: 3rem;
	}
}

// About-Sub Heading Container----------------------
.about-sub__heading-container {
	max-width: 120rem;
	width: 92%;
	margin: 0 auto 6rem;
	@include respond(tab-port) {
		margin-bottom: 4rem;
	}
}

// About-Sub Heading Styles
.about-sub__heading-h2 {
	display: block;
	font-size: 2.25rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--brand-color);
	margin-bottom: 1.5rem;
	position: relative;

	@include respond(tab-port) {
		font-size: 1.75rem;
		text-align: center;
		word-break: break-word;
	}
}

// About-Sub Heading Text
.about-sub__heading-text {
	display: block;
	color: var(--secondary-color);
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.6;
	margin-bottom: 2rem;
}
