.btn {
	background-color: var(--brand-color);
	color: var(--white-color);
	text-transform: uppercase;
	letter-spacing: 1.5px;
	display: inline-block;
	font-weight: 700;
	cursor: pointer;
	border-radius: var(--btn-border-radius);
	border: 3px solid var(--brand-color);
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
	transition: all 0.3s ease;
	text-align: center;

	&:hover {
		transform: scale(1.05);
		color: var(--brand-color);
		background-color: transparent;
	}

	&--bg {
		padding: 1.5rem 8rem;
		font-size: 2rem;
	}

	&--med {
		padding: 0.5rem 1.75rem;
		font-size: 0.75rem;

		

		@include respond(tab-port) {
			font-size: 0.5rem;
			padding: 0.5rem 1.5rem;
		}
	}

	&--inverse {
		color: var(--brand-color);
		background-color: transparent;

		&:hover {
			color: var(--white-color);
			background-color: var(--brand-color);
			transform: scale(1.05);
		}
	}

	&--opacity {
		color: var(--white-color);
		background-color: var(--brand-color);
		opacity: 0.5;

		&:hover {
			color: var(--white-color);
			background-color: var(--brand-color);
			opacity: 1;
		}
	}
}
